*__pycache__/
.dvc/
data/raw/
.DS_Store
venv/

sagemaker/credentials.ini
*/credentials.ini
.cursorrules
.vscode/
.cursorignore
debug*
wandb/
sagemaker/credentials.ini
results/
checkpoints/
models/
*.pth
